In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stat
import pylab 

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.metrics import classification_report, accuracy_score, confusion_matrix, precision_score, recall_score, f1_score, roc_auc_score

In [2]:
pd.set_option('display.max_columns', None)

df = pd.read_csv("C:/Project/Electricity_project/RawData/GlobalEYUtility_Final_for Demo.csv")
df = df[:300]
df.shape

(300, 119)

In [3]:
df.head()

,abin,Feeder_Category,BREAKER_MAKE,UpcaseRoadTraffic,Upcase_DepthOfCable,Upcase_SoilCondition,Upcase_LeadExposed,Upcase_ArmourCableCondition,CABLE_SIZE,NO__OF_PARALLEL_RUNNING_CABLES,FaultCurrent_Count,_5Yr_Faults_Count,No_of_Load_transfer_Operations,No_of_Times_Exceeded100_,No_of_times_exceeded_60_,No_of_time_below_60_,No_of_Times_Exceeded90_,LENGTH_OF_CABLE_MTRS_,NO__OF_JOINTS,AGE_YRS_,Number_OF_Cables,PILC,XLPE,DATE_ONLY,DAY_OF_WEEK,WEEKEND_Y_N_,Average_Current,MORNING_AVG_CURRENT,AFTERNOON_AVG_CURRENT,EVENING_AVG_CURRENT,Peak_Current,Peak_Slab,Average_voltage,MORNING_AVG_VOLTAGE,AFTERNOON_AVG_VOLTAGE,EVENING_AVG_VOLTAGE,Peak_Voltage,target,Avg_Heat_Index,Morning_AVG_Heat_Index,Afternoon_AVG_Heat_Index,Evening_Avg_Heat_Index,Peak_HI,Avg_humidity,Morning_AVG_humidity,Afternoon_AVG_HUMIDITY,Evening_Avg_HUMIDITY,Max_Humidity,Avg_TEMP,Morning_AVG_TEMP,Afternoon_AVG_TEMP,Evening_Avg_TEMP,Max_TEMP,IR_Value_After_JointingPHASE_TO,MORNING_AVG_CURRENT_N_1,MORNING_AVG_CURRENT_N_2,AFTERNOON_AVG_CURRENT_N_1,AFTERNOON_AVG_CURRENT_N_2,EVENING_AVG_CURRENT_N_1,EVENING_AVG_CURRENT_N_2,MORNING_AVG_VOLTAGE_N_1,MORNING_AVG_VOLTAGE_N_2,AFTERNOON_AVG_VOLTAGE_N_1,AFTERNOON_AVG_VOLTAGE_N_2,EVENING_AVG_VOLTAGE_N_1,EVENING_AVG_VOLTAGE_N_2,TARGET_N_1,TARGET_N_2,AVERAGE_CURRENT_N_1,AVERAGE_CURRENT_N_2,AVERAGE_VOLTAGE_N_1,AVERAGE_VOLTAGE_N_2,AVERAGE_HEAT_INDEX_N_1,AVERAGE_HEAT_INDEX_N_2,AVERAGE_HUMUDITY_N_1,AVERAGE_HUMUDITY_N_2,AVERAGE_TEMP_N_1,AVERAGE_TEMP_N_2,MORNING_AVG_HEAT_INDEX_N_1,MORNING_AVG_HEAT_INDEX_N_2,AFTERNOON_AVG_HEAT_INDEX_N_1,AFTERNOON_AVG_HEAT_INDEX_N_2,EVENING_AVG_HEAT_INDEX_N_1,EVENING_AVG_HEAT_INDEX_N_2,MORNING_AVG_HUMUDITY_N_1,MORNING_AVG_HUMUDITY_N_2,AFTERNOON_AVG_HUMUDITY_N_1,AFTERNOON_AVG_HUMUDITY_N_2,EVENING_AVG_HUMUDITY_N_1,EVENING_AVG_HUMUDITY_N_2,MORNING_AVG_TEMP_N_1,MORNING_AVG_TEMP_N_2,AFTERNOON_AVG_TEMP_N_1,AFTERNOON_AVG_TEMP_N_2,EVENING_AVG_TEMP_N_1,EVENING_AVG_TEMP_N_2,Peak_Current_N_1,Peak_Current_N_2,Peak_Current_Time_N_1,Peak_Current_Time_N_2,Peak_Current_Slab_N_1,Peak_Current_Slab_N_2,New_PublicHoliday,New_Summer,New_Monsoon,New_Winter,_dataobs_,Feeder,Switch,Section Id,Pathid,Path Order,Lat,Long,Customer At Risk,Revenue At Rsik,Assets At Risk,Risk Type,NoFaultsSince2016
0,ED,RES,SIEMENS VCB,MODERATE,NORMAL,DRY,NO,STRONG,120.0,3.0,2.0,5.0,0.0,0.0,0.0,96.0,0.0,586.6,7.0,36.0,2.0,1.0,1.0,08-01-2016,6.0,N,4.352917,9.688485,1.55125,1.565161,43.99,M,11.047187,11.035455,11.026250,11.081290,11.20,1.0,26.667515,23.993545,28.256467,27.873791,31.224829,60.078646,70.946061,48.330312,60.637419,79.34,25.887917,22.996970,27.952188,26.834516,31.11,250.0,68.730303,19.471818,108.005000,20.005000,107.405161,21.148710,11.035455,10.961818,11.026250,11.001875,11.081290,10.954839,0.0,0.0,94.310625,20.191042,11.047187,10.972917,26.667515,26.667515,60.078646,60.078646,25.887917,25.887917,23.993545,23.993545,28.256467,28.256467,27.873791,27.873791,70.946061,70.946061,48.330312,48.330312,60.637419,60.637419,22.996970,22.996970,27.952188,27.952188,26.834516,26.834516,1.5,9.08,0.0,0.0,M,M,N,N,N,Y,379.0,30462.0,10499.0,30462-10499-1,SANTACRUZ RECEIVING STATION-ANAND NAGAR NO.2 S...,2.0,19.080542,72.845893,8000.0,97.0,10.0,Low,0.0
1,ED,RES,ABB SF6,HEAVY,NORMAL,MOIST,NO,STRONG,300.0,1.0,7.0,2.0,0.0,0.0,0.0,96.0,0.0,533.1,5.0,NaN,1.0,0.0,1.0,15-01-2016,6.0,N,4.416875,12.658182,0.10000,0.100000,19.24,M,11.021667,10.977576,11.050000,11.039355,11.27,1.0,24.975674,22.618742,26.488964,25.922561,28.202562,69.590937,74.704545,63.073125,70.875484,76.92,23.927083,21.308182,25.579687,25.009032,27.30,350.0,58.424242,34.783333,79.528125,53.851250,88.881613,52.395484,10.977576,10.977576,11.050000,11.050000,11.039355,11.039355,0.0,0.0,75.294062,46.826563,11.021667,11.021667,24.975674,24.975674,69.590937,69.590937,23.927083,23.927083,22.618742,22.618742,26.488964,26.488964,25.922561,25.922561,74.704545,74.704545,63.073125,63.073125,70.875484,70.875484,21.308182,21.308182,25.579687,25.579687,25.009032,25.009032,0.1,18.46,0.0,0.0,M,M,N,N,N,Y,705.0,30462.0,10499.0,30462-10499-1,SANTACRUZ RECEIVING STATION-ANAND NAGAR NO.2 S...,2.0,19.080542,72.845893,8000.0,97.0,10.0,Low,0.0
2,SCD,RES,VOLTAS SF6,MODERATE,NORMAL,DRY,NO,STRONG,300.0,6.0,5.0,2.0,1.0,0.0,0.0,96.0,0.0,600.0,2.0,NaN,1.0,0.0,1.0,20-01-2016,4.0,N,14.331250,20.800000,20.80000,0.767742,20.80,M,11.066146,11.131818,11.065312,10.997097,11.49,1.0,25.394108,23.238414,26.747914,26.291401,29.479176,62.813750,69.955758,56.565312,61.660968,73.11,23.755521,20.099697,25.985937,25.344839,29.36,NaN,36.430000,45.837273,47.631250,62.511562,49.017742,62.790000,10.963333,11.198182,10.960625,11.166250,10.981613,11.228387,0.0,0.0,44.228542,56.869687,10.968333,11.197292,25.394108,25.394108,62.813750,62.813750,23.755521,23.755521,23.238414,23.238414,26.747914,26.747914,26.291401,26.291401,69.955758,69.955758,56.565312,56.565312,61.660968,61.660968,20.099697,20.099697,25.985937,25.985937,25.344839,25.344839,0.1,0.10,0.0,0.0,M,M,N,N,N,Y,940.0,30462.0,10499.0,30462-10499-1,SANTACRUZ RECEIVING STATION-ANAND NAGAR NO.2 S...,2.0,19.080542,72.845893,8000.0,97.0,10.0,Low,7.0
3,SCD,RES,VOLTAS SF6,LOW,NORMAL,WET,NO,CORRODED,240.0,2.0,5.0,2.0,0.0,0.0,0.0,96.0,0.0,682.5,5.0,23.0,1.0,1.0,0.0,25-01-2016,2.0,N,27.535312,75.023333,5.14125,0.100000,109.47,M,11.221042,11.276970,11.167813,11.216452,11.41,1.0,25.914466,24.431373,27.060845,26.309882,28.942341,50.201458,60.537879,39.792812,49.942581,64.66,24.734896,21.665455,27.047500,25.615161,30.33,300.0,71.386364,32.867879,79.223438,128.333438,101.310000,70.680968,11.179697,11.200000,11.077500,11.188750,11.115161,11.173871,0.0,0.0,83.661563,76.900208,11.124792,11.187812,25.914466,25.914466,50.201458,50.201458,24.734896,24.734896,24.431373,24.431373,27.060845,27.060845,26.309882,26.309882,60.537879,60.537879,39.792812,39.792812,49.942581,49.942581,21.665455,21.665455,27.047500,27.047500,25.615161,25.615161,0.1,0.10,0.0,0.0,M,M,N,N,N,Y,1175.0,30462.0,10499.0,30462-10499-1,SANTACRUZ RECEIVING STATION-ANAND NAGAR NO.2 S...,2.0,19.080542,72.845893,8000.0,97.0,10.0,Low,7.0
4,ND,RES,VOLTAS SF6,MODERATE,NORMAL,DRY,NO,STRONG,240.0,1.0,2.0,2.0,0.0,0.0,0.0,96.0,0.0,381.0,4.0,20.0,1.0,1.0,0.0,02-02-2016,3.0,N,0.845625,2.440909,0.01000,0.010000,80.23,M,11.077917,11.085455,11.102813,11.044194,11.39,1.0,26.553766,23.406862,29.567852,26.792381,32.863735,64.328646,72.218485,55.434375,65.110968,74.42,25.372917,22.035152,28.292813,25.911935,31.12,NaN,51.187273,40.494848,89.377188,48.014063,90.980323,53.100000,11.111818,11.111818,11.110000,11.110000,11.077419,11.077419,0.0,0.0,76.767083,47.071667,11.100104,11.100104,26.553766,26.553766,64.328646,64.328646,25.372917,25.372917,23.406862,23.406862,29.567852,29.567852,26.792381,26.792381,72.218485,72.218485,55.434375,55.434375,65.110968,65.110968,22.035152,22.035152,28.292813,28.292813,25.911935,25.911935,0.0,26.08,0.0,0.0,M,M,N,N,N,Y,1561.0,30462.0,10499.0,30462-10499-1,SANTACRUZ RECEIVING STATION-ANAND NAGAR NO.2 S...,2.0,19.080542,72.845893,8000.0,97.0,10.0,Low,7.0

In [6]:
def plot_data(df,feature):
    plt.figure(figsize=(10,6))
    plt.subplot(1,2,1)
    df[feature].hist()
    plt.subplot(1,2,2)
    stat.probplot(df[feature],dist='norm',plot=pylab)
    plt.show()

In [7]:
df1 = df[['Average_Current','target']]
df1

     Average_Current  target
0           4.352917     1.0
1           4.416875     1.0
2          14.331250     1.0
3          27.535312     1.0
4           0.845625     1.0
..               ...     ...
295        63.178125     1.0
296        60.295521     1.0
297        94.052188     0.0
298        71.319583     1.0
299        73.885625     1.0

[300 rows x 2 columns]

In [8]:
a = df1.pct_change()
a

     Average_Current  target
0                NaN     NaN
1           0.014693     0.0
2           2.244658     0.0
3           0.921348     0.0
4          -0.969289     0.0
..               ...     ...
295        -0.473396     inf
296        -0.045627     0.0
297         0.559854    -1.0
298        -0.241702     inf
299         0.035979     0.0

[300 rows x 2 columns]

In [10]:
pd.concat([df1,a],axis=1).head(30)

    Average_Current  target  Average_Current  target
0          4.352917     1.0              NaN     NaN
1          4.416875     1.0         0.014693     0.0
2         14.331250     1.0         2.244658     0.0
3         27.535312     1.0         0.921348     0.0
4          0.845625     1.0        -0.969289     0.0
5          9.230417     1.0         9.915496     0.0
6          0.000000     0.0        -1.000000    -1.0
7         58.210104     1.0              inf     inf
8         60.773229     0.0         0.044032    -1.0
9         27.929583     1.0        -0.540429     inf
10         0.100000     0.0        -0.996420    -1.0
11        48.683437     1.0       485.834375     inf
12        48.683437     1.0         0.000000     0.0
13        48.683437     1.0         0.000000     0.0
14        48.683437     1.0         0.000000     0.0
15       101.642500     1.0         1.087825     0.0
16         5.373333     1.0        -0.947135     0.0
17       114.349792     0.0        20.280979    -1.0
18         0.100000     0.0        -0.999125     NaN
19       155.760417     0.0      1556.604167     NaN
20         9.084375     1.0        -0.941677     inf
21       160.262396     0.0        16.641543    -1.0
22         6.548229     1.0        -0.959141     inf
23         0.078125     1.0        -0.988069     0.0
24        11.136354     1.0       141.545333     0.0
25         0.078125     1.0        -0.992985     0.0
26        30.322366     0.0       387.126280    -1.0
27         0.100000     0.0        -0.996702     NaN
28        42.111042     0.0       420.110417     NaN
29        46.586250     1.0         0.106272     inf

In [11]:
df1 = df[['Peak_Current','target']]
a = df1.pct_change()
pd.concat([df1,a],axis=1).head(30)

    Peak_Current  target  Peak_Current  target
0          43.99     1.0           NaN     NaN
1          19.24     1.0     -0.562628     0.0
2          20.80     1.0      0.081081     0.0
3         109.47     1.0      4.262981     0.0
4          80.23     1.0     -0.267105     0.0
5          25.88     1.0     -0.677427     0.0
6           0.00     0.0     -1.000000    -1.0
7         137.21     1.0           inf     inf
8          71.58     0.0     -0.478318    -1.0
9          98.03     1.0      0.369517     inf
10          0.10     0.0     -0.998980    -1.0
11        166.12     1.0   1660.200000     inf
12        166.12     1.0      0.000000     0.0
13        166.12     1.0      0.000000     0.0
14        166.12     1.0      0.000000     0.0
15        208.99     1.0      0.258066     0.0
16        126.66     1.0     -0.393942     0.0
17        161.62     0.0      0.276015    -1.0
18          0.10     0.0     -0.999381     NaN
19        195.00     0.0   1949.000000     NaN
20         18.85     1.0     -0.903333     inf
21        208.24     0.0     10.047215    -1.0
22        132.96     1.0     -0.361506     inf
23          0.10     1.0     -0.999248     0.0
24        144.21     1.0   1441.100000     0.0
25          0.10     1.0     -0.999307     0.0
26         39.42     0.0    393.200000    -1.0
27          0.10     0.0     -0.997463     NaN
28         56.42     0.0    563.200000     NaN
29        144.40     1.0      1.559376     inf

In [12]:
df1 = df[['Average_voltage','target']]
a = df1.pct_change()
pd.concat([df1,a],axis=1).head(30)

    Average_voltage  target  Average_voltage  target
0         11.047187     1.0              NaN     NaN
1         11.021667     1.0        -0.002310     0.0
2         11.066146     1.0         0.004036     0.0
3         11.221042     1.0         0.013997     0.0
4         11.077917     1.0        -0.012755     0.0
5         11.104688     1.0         0.002417     0.0
6         11.127500     0.0         0.002054    -1.0
7         11.161458     1.0         0.003052     inf
8         10.972604     0.0        -0.016920    -1.0
9         11.003750     1.0         0.002839     inf
10         0.000000     0.0        -1.000000    -1.0
11        10.815833     1.0              inf     inf
12        10.815833     1.0         0.000000     0.0
13        10.815833     1.0         0.000000     0.0
14        10.815833     1.0         0.000000     0.0
15        11.000104     1.0         0.017037     0.0
16        11.053333     1.0         0.004839     0.0
17        11.034688     0.0        -0.001687    -1.0
18        11.140313     0.0         0.009572     NaN
19        11.122708     0.0        -0.001580     NaN
20        11.063021     1.0        -0.005366     inf
21        10.982500     0.0        -0.007278    -1.0
22        10.978854     1.0        -0.000332     inf
23         0.000000     1.0        -1.000000     0.0
24        10.991563     1.0              inf     0.0
25         0.000000     1.0        -1.000000     0.0
26        11.018229     0.0              inf    -1.0
27        10.978854     0.0        -0.003574     NaN
28        11.071875     0.0         0.008473     NaN
29        11.024167     1.0        -0.004309     inf

In [13]:
df1 = df[['Peak_Voltage','target']]
a = df1.pct_change()
pd.concat([df1,a],axis=1).head(30)

    Peak_Voltage  target  Peak_Voltage  target
0          11.20     1.0           NaN     NaN
1          11.27     1.0      0.006250     0.0
2          11.49     1.0      0.019521     0.0
3          11.41     1.0     -0.006963     0.0
4          11.39     1.0     -0.001753     0.0
5          11.37     1.0     -0.001756     0.0
6          11.34     0.0     -0.002639    -1.0
7          11.40     1.0      0.005291     inf
8          11.12     0.0     -0.024561    -1.0
9          11.31     1.0      0.017086     inf
10          0.00     0.0     -1.000000    -1.0
11         11.10     1.0           inf     inf
12         11.10     1.0      0.000000     0.0
13         11.10     1.0      0.000000     0.0
14         11.10     1.0      0.000000     0.0
15         11.20     1.0      0.009009     0.0
16         11.33     1.0      0.011607     0.0
17         11.21     0.0     -0.010591    -1.0
18         11.32     0.0      0.009813     NaN
19         11.32     0.0      0.000000     NaN
20         11.22     1.0     -0.008834     inf
21         11.24     0.0      0.001783    -1.0
22         11.26     1.0      0.001779     inf
23          0.00     1.0     -1.000000     0.0
24         11.28     1.0           inf     0.0
25          0.00     1.0     -1.000000     0.0
26         11.23     0.0           inf    -1.0
27         11.20     0.0     -0.002671     NaN
28         11.29     0.0      0.008036     NaN
29         11.24     1.0     -0.004429     inf

In [14]:
df1 = df[['Avg_Heat_Index','target']]
a = df1.pct_change()
pd.concat([df1,a],axis=1).head(30)

    Avg_Heat_Index  target  Avg_Heat_Index  target
0        26.667515     1.0             NaN     NaN
1        24.975674     1.0       -0.063442     0.0
2        25.394108     1.0        0.016754     0.0
3        25.914466     1.0        0.020491     0.0
4        26.553766     1.0        0.024670     0.0
5        26.158478     1.0       -0.014886     0.0
6        26.772667     0.0        0.023480    -1.0
7        30.942861     1.0        0.155763     inf
8        30.645283     0.0       -0.009617    -1.0
9        33.413870     1.0        0.090343     inf
10       33.413870     0.0        0.000000    -1.0
11       33.583378     1.0        0.005073     inf
12       33.583378     1.0        0.000000     0.0
13       33.583378     1.0        0.000000     0.0
14       33.583378     1.0        0.000000     0.0
15       33.583378     1.0        0.000000     0.0
16       34.931220     1.0        0.040134     0.0
17       34.149124     0.0       -0.022390    -1.0
18       32.789972     0.0       -0.039800     NaN
19       32.973101     0.0        0.005585     NaN
20       34.048479     1.0        0.032614     inf
21       33.424590     0.0       -0.018324    -1.0
22       39.092059     1.0        0.169560     inf
23       36.122576     1.0       -0.075961     0.0
24       36.122576     1.0        0.000000     0.0
25       36.122576     1.0        0.000000     0.0
26       37.763387     0.0        0.045423    -1.0
27       36.504856     0.0       -0.033327     NaN
28       42.277178     0.0        0.158125     NaN
29       42.230342     1.0       -0.001108     inf

In [15]:
df1 = df[['Peak_HI','target']]
a = df1.pct_change()
pd.concat([df1,a],axis=1).head(30)

      Peak_HI  target   Peak_HI  target
0   31.224829     1.0       NaN     NaN
1   28.202562     1.0 -0.096791     0.0
2   29.479176     1.0  0.045266     0.0
3   28.942341     1.0 -0.018211     0.0
4   32.863735     1.0  0.135490     0.0
5   31.612535     1.0 -0.038072     0.0
6   31.910407     0.0  0.009423    -1.0
7   37.869746     1.0  0.186752     inf
8   35.806599     0.0 -0.054480    -1.0
9   42.549652     1.0  0.188319     inf
10  42.549652     0.0  0.000000    -1.0
11  38.924033     1.0 -0.085209     inf
12  38.924033     1.0  0.000000     0.0
13  38.924033     1.0  0.000000     0.0
14  38.924033     1.0  0.000000     0.0
15  38.924033     1.0  0.000000     0.0
16  42.307153     1.0  0.086916     0.0
17  43.177886     0.0  0.020581    -1.0
18  40.289631     0.0 -0.066892     NaN
19  38.047782     0.0 -0.055643     NaN
20  40.686945     1.0  0.069364     inf
21  39.445114     0.0 -0.030522    -1.0
22  48.349115     1.0  0.225731     inf
23  43.387539     1.0 -0.102620     0.0
24  43.387539     1.0  0.000000     0.0
25  43.387539     1.0  0.000000     0.0
26  45.484317     0.0  0.048327    -1.0
27  44.316317     0.0 -0.025679     NaN
28  49.413147     0.0  0.115010     NaN
29  49.712467     1.0  0.006058     inf

In [16]:
df1 = df[['Max_Humidity','target']]
a = df1.pct_change()
pd.concat([df1,a],axis=1).head(50)

    Max_Humidity  target  Max_Humidity  target
0          79.34     1.0           NaN     NaN
1          76.92     1.0     -0.030502     0.0
2          73.11     1.0     -0.049532     0.0
3          64.66     1.0     -0.115579     0.0
4          74.42     1.0      0.150943     0.0
5          77.25     1.0      0.038027     0.0
6          80.83     0.0      0.046343    -1.0
7          92.66     1.0      0.146357     inf
8          87.42     0.0     -0.056551    -1.0
9          77.80     1.0     -0.110043     inf
10         77.80     0.0      0.000000    -1.0
11         91.09     1.0      0.170823     inf
12         91.09     1.0      0.000000     0.0
13         91.09     1.0      0.000000     0.0
14         91.09     1.0      0.000000     0.0
15         91.09     1.0      0.000000     0.0
16         85.97     1.0     -0.056208     0.0
17         92.46     0.0      0.075491    -1.0
18         93.23     0.0      0.008328     NaN
19         86.26     0.0     -0.074761     NaN
20         85.18     1.0     -0.012520     inf
21         85.62     0.0      0.005166    -1.0
22         85.82     1.0      0.002336     inf
23         82.41     1.0     -0.039734     0.0
24         82.41     1.0      0.000000     0.0
25         82.41     1.0      0.000000     0.0
26         92.52     0.0      0.122679    -1.0
27         92.89     0.0      0.003999     NaN
28         92.75     0.0     -0.001507     NaN
29         92.88     1.0      0.001402     inf
30         92.88     1.0      0.000000     0.0
31         90.58     0.0     -0.024763    -1.0
32         89.64     1.0     -0.010378     inf
33         89.56     1.0     -0.000892     0.0
34         87.32     1.0     -0.025011     0.0
35         88.75     0.0      0.016377    -1.0
36         88.62     1.0     -0.001465     inf
37         88.21     0.0     -0.004626    -1.0
38         86.06     1.0     -0.024374     inf
39         87.58     1.0      0.017662     0.0
40         89.84     1.0      0.025805     0.0
41         89.84     0.0      0.000000    -1.0
42         88.00     1.0     -0.020481     inf
43         88.00     1.0      0.000000     0.0
44         88.49     1.0      0.005568     0.0
45         88.49     0.0      0.000000    -1.0
46         97.38     1.0      0.100463     inf
47        100.00     1.0      0.026905     0.0
48        100.00     1.0      0.000000     0.0
49        100.00     1.0      0.000000     0.0

In [17]:
## Days before current 

df1 = df[['Average_Current','MORNING_AVG_CURRENT_N_1','TARGET_N_1','target']]
a = df1.pct_change()
pd.concat([df1,a],axis=1).head(50)

,Average_Current,MORNING_AVG_CURRENT_N_1,TARGET_N_1,target,Average_Current,MORNING_AVG_CURRENT_N_1,TARGET_N_1,target
0,4.352917,68.730303,0.0,1.0,NaN,NaN,NaN,NaN
1,4.416875,58.424242,0.0,1.0,0.014693,-0.149949,NaN,0.0
2,14.331250,36.430000,0.0,1.0,2.244658,-0.376457,NaN,0.0
3,27.535312,71.386364,0.0,1.0,0.921348,0.959549,NaN,0.0
4,0.845625,51.187273,0.0,1.0,-0.969289,-0.282954,NaN,0.0
5,9.230417,0.100000,0.0,1.0,9.915496,-0.998046,NaN,0.0
6,0.000000,29.520606,0.0,0.0,-1.000000,294.206061,NaN,-1.0
7,58.210104,37.409394,0.0,1.0,inf,0.267230,NaN,inf
8,60.773229,149.389091,0.0,0.0,0.044032,2.993358,NaN,-1.0
9,27.929583,138.279394,0.0,1.0,-0.540429,-0.074368,NaN,inf
10,0.100000,88.550909,0.0,0.0,-0.996420,-0.359623,NaN,-1.0
11,48.683437,43.690909,0.0,1.0,485.834375,-0.506601,NaN,inf
12,48.683437,138.631212,1.0,1.0,0.000000,2.172999,inf,0.0
13,48.683437,138.631212,1.0,1.0,0.000000,0.000000,0.0,0.0
14,48.683437,138.631212,1.0,1.0,0.000000,0.000000,0.0,0.0
15,101.642500,141.160303,0.0,1.0,1.087825,0.018243,-1.0,0.0
16,5.373333,88.706667,0.0,1.0,-0.947135,-0.371589,NaN,0.0
17,114.349792,0.100000,0.0,0.0,20.280979,-0.998873,NaN,-1.0
18,0.100000,91.294545,0.0,0.0,-0.999125,911.945454,NaN,NaN
19,155.760417,72.393939,0.0,0.0,1556.604167,-0.207029,NaN,NaN
20,9.084375,90.607576,0.0,1.0,-0.941677,0.251591,NaN,inf
21,160.262396,201.521818,0.0,0.0,16.641543,1.224117,NaN,-1.0
22,6.548229,39.332424,0.0,1.0,-0.959141,-0.804823,NaN,inf
23,0.078125,0.100000,0.0,1.0,-0.988069,-0.997458,NaN,0.0
24,11.136354,96.181515,0.0,1.0,141.545333,960.815151,NaN,0.0
25,0.078125,0.100000,0.0,1.0,-0.992985,-0.998960,NaN,0.0
26,30.322366,86.210909,0.0,0.0,387.126280,861.109091,NaN,-1.0
27,0.100000,0.100000,0.0,0.0,-0.996702,-0.998840,NaN,NaN
28,42.111042,95.525758,0.0,0.0,420.110417,954.257576,NaN,NaN
29,46.586250,94.490000,0.0,1.0,0.106272,-0.010843,NaN,inf
30,8.475104,98.481818,0.0,1.0,-0.818077,0.042246,NaN,0.0
31,113.260000,0.100000,0.0,0.0,12.363848,-0.998985,NaN,-1.0
32,57.775000,28.053939,0.0,1.0,-0.489891,279.539394,NaN,inf
33,135.473437,66.669697,0.0,1.0,1.344845,1.376483,NaN,0.0
34,71.754688,158.400000,0.0,1.0,-0.470341,1.375892,NaN,0.0
35,18.460000,40.140000,0.0,0.0,-0.742735,-0.746591,NaN,-1.0
36,9.120417,99.271515,0.0,1.0,-0.505936,1.473132,NaN,inf
37,157.952083,105.120000,0.0,0.0,16.318516,0.058914,NaN,-1.0
38,5.897917,59.381515,0.0,1.0,-0.962660,-0.435107,NaN,inf
39,104.541771,162.473333,0.0,1.0,16.725203,1.736093,NaN,0.0
40,168.628229,0.100000,0.0,1.0,0.613023,-0.999385,NaN,0.0
41,1.443750,67.951515,0.0,0.0,-0.991438,678.515152,NaN,-1.0
42,21.259062,150.030606,0.0,1.0,13.724892,1.207907,NaN,inf
43,12.661042,153.198182,0.0,1.0,-0.404440,0.021113,NaN,0.0
44,27.988958,157.473636,0.0,1.0,1.210636,0.027908,NaN,0.0
45,145.205521,156.901515,0.0,0.0,4.187957,-0.003633,NaN,-1.0
46,75.196250,181.920000,0.0,1.0,-0.482139,0.159453,NaN,inf
47,29.296042,56.500303,0.0,1.0,-0.610406,-0.689422,NaN,0.0
48,29.636875,45.929394,0.0,1.0,0.011634,-0.187095,NaN,0.0
49,17.192396,53.069091,0.0,1.0,-0.419898,0.155449,NaN,0.0

In [15]:
df1 = df[['Average_Current','MORNING_AVG_CURRENT_N_2','TARGET_N_2','target']]
a = df1.pct_change()
pd.concat([df1,a],axis=1).head(50)

,Average_Current,MORNING_AVG_CURRENT_N_2,TARGET_N_2,target,Average_Current,MORNING_AVG_CURRENT_N_2,TARGET_N_2,target
0,4.352917,19.471818,0.0,1.0,NaN,NaN,NaN,NaN
1,4.416875,34.783333,0.0,1.0,0.014693,0.786342,NaN,0.0
2,14.331250,45.837273,0.0,1.0,2.244658,0.317794,NaN,0.0
3,27.535312,32.867879,0.0,1.0,0.921348,-0.282944,NaN,0.0
4,0.845625,40.494848,0.0,1.0,-0.969289,0.232049,NaN,0.0
5,9.230417,43.980606,0.0,1.0,9.915496,0.086079,NaN,0.0
6,0.000000,9.588485,0.0,0.0,-1.000000,-0.781984,NaN,-1.0
7,58.210104,93.013939,0.0,1.0,inf,8.700588,NaN,inf
8,60.773229,85.711212,0.0,0.0,0.044032,-0.078512,NaN,-1.0
9,27.929583,52.059394,0.0,1.0,-0.540429,-0.392619,NaN,inf
10,0.100000,0.100000,0.0,0.0,-0.996420,-0.998079,NaN,-1.0
11,48.683437,154.822121,0.0,1.0,485.834375,1547.221212,NaN,inf
12,48.683437,43.690909,0.0,1.0,0.000000,-0.717799,NaN,0.0
13,48.683437,138.631212,1.0,1.0,0.000000,2.172999,inf,0.0
14,48.683437,138.631212,1.0,1.0,0.000000,0.000000,0.0,0.0
15,101.642500,151.503333,0.0,1.0,1.087825,0.092852,-1.0,0.0
16,5.373333,0.000000,0.0,1.0,-0.947135,-1.000000,NaN,0.0
17,114.349792,130.204242,0.0,0.0,20.280979,inf,NaN,-1.0
18,0.100000,0.100000,0.0,0.0,-0.999125,-0.999232,NaN,NaN
19,155.760417,10.620000,0.0,0.0,1556.604167,105.200000,NaN,NaN
20,9.084375,26.080000,0.0,1.0,-0.941677,1.455744,NaN,inf
21,160.262396,120.680000,0.0,0.0,16.641543,3.627301,NaN,-1.0
22,6.548229,68.832424,0.0,1.0,-0.959141,-0.429629,NaN,inf
23,0.078125,0.100000,0.0,1.0,-0.988069,-0.998547,NaN,0.0
24,11.136354,78.933636,0.0,1.0,141.545333,788.336364,NaN,0.0
25,0.078125,113.248485,0.0,1.0,-0.992985,0.434730,NaN,0.0
26,30.322366,49.075455,0.0,0.0,387.126280,-0.566657,NaN,-1.0
27,0.100000,55.409091,0.0,0.0,-0.996702,0.129059,NaN,NaN
28,42.111042,57.127879,0.0,0.0,420.110417,0.031020,NaN,NaN
29,46.586250,85.507879,0.0,1.0,0.106272,0.496780,NaN,inf
30,8.475104,88.513030,0.0,1.0,-0.818077,0.035145,NaN,0.0
31,113.260000,51.270000,0.0,0.0,12.363848,-0.420763,NaN,-1.0
32,57.775000,152.811515,0.0,1.0,-0.489891,1.980525,NaN,inf
33,135.473437,93.267273,0.0,1.0,1.344845,-0.389658,NaN,0.0
34,71.754688,21.296970,0.0,1.0,-0.470341,-0.771657,NaN,0.0
35,18.460000,184.576667,0.0,0.0,-0.742735,7.666804,NaN,-1.0
36,9.120417,90.182121,0.0,1.0,-0.505936,-0.511411,NaN,inf
37,157.952083,113.240000,0.0,0.0,16.318516,0.255681,NaN,-1.0
38,5.897917,4.724545,0.0,1.0,-0.962660,-0.958278,NaN,inf
39,104.541771,18.687879,0.0,1.0,16.725203,2.955487,NaN,0.0
40,168.628229,65.721212,0.0,1.0,0.613023,2.516783,NaN,0.0
41,1.443750,130.354242,0.0,0.0,-0.991438,0.983442,NaN,-1.0
42,21.259062,90.577273,0.0,1.0,13.724892,-0.305145,NaN,inf
43,12.661042,117.845758,0.0,1.0,-0.404440,0.301052,NaN,0.0
44,27.988958,135.666061,0.0,1.0,1.210636,0.151217,NaN,0.0
45,145.205521,78.290303,0.0,0.0,4.187957,-0.422919,NaN,-1.0
46,75.196250,95.949091,0.0,1.0,-0.482139,0.225555,NaN,inf
47,29.296042,114.942424,0.0,1.0,-0.610406,0.197952,NaN,0.0
48,29.636875,27.050000,0.0,1.0,0.011634,-0.764665,NaN,0.0
49,17.192396,106.074849,0.0,1.0,-0.419898,2.921436,NaN,0.0

In [18]:
df1 = df[['Avg_Heat_Index','AVERAGE_HEAT_INDEX_N_1','AVERAGE_HEAT_INDEX_N_2','TARGET_N_1','target']]
a = df1.pct_change()
pd.concat([df1,a],axis=1).head(50)

,Avg_Heat_Index,AVERAGE_HEAT_INDEX_N_1,AVERAGE_HEAT_INDEX_N_2,TARGET_N_1,target,Avg_Heat_Index,AVERAGE_HEAT_INDEX_N_1,AVERAGE_HEAT_INDEX_N_2,TARGET_N_1,target
0,26.667515,26.667515,26.667515,0.0,1.0,NaN,NaN,NaN,NaN,NaN
1,24.975674,24.975674,24.975674,0.0,1.0,-0.063442,-0.063442,-0.063442,NaN,0.0
2,25.394108,25.394108,25.394108,0.0,1.0,0.016754,0.016754,0.016754,NaN,0.0
3,25.914466,25.914466,25.914466,0.0,1.0,0.020491,0.020491,0.020491,NaN,0.0
4,26.553766,26.553766,26.553766,0.0,1.0,0.024670,0.024670,0.024670,NaN,0.0
5,26.158478,26.158478,26.158478,0.0,1.0,-0.014886,-0.014886,-0.014886,NaN,0.0
6,26.772667,26.772667,26.772667,0.0,0.0,0.023480,0.023480,0.023480,NaN,-1.0
7,30.942861,30.942861,30.942861,0.0,1.0,0.155763,0.155763,0.155763,NaN,inf
8,30.645283,30.645283,30.645283,0.0,0.0,-0.009617,-0.009617,-0.009617,NaN,-1.0
9,33.413870,33.413870,33.413870,0.0,1.0,0.090343,0.090343,0.090343,NaN,inf
10,33.413870,33.413870,33.413870,0.0,0.0,0.000000,0.000000,0.000000,NaN,-1.0
11,33.583378,33.583378,33.583378,0.0,1.0,0.005073,0.005073,0.005073,NaN,inf
12,33.583378,33.583378,33.583378,1.0,1.0,0.000000,0.000000,0.000000,inf,0.0
13,33.583378,33.583378,33.583378,1.0,1.0,0.000000,0.000000,0.000000,0.0,0.0
14,33.583378,33.583378,33.583378,1.0,1.0,0.000000,0.000000,0.000000,0.0,0.0
15,33.583378,33.583378,33.583378,0.0,1.0,0.000000,0.000000,0.000000,-1.0,0.0
16,34.931220,34.931220,33.583378,0.0,1.0,0.040134,0.040134,0.000000,NaN,0.0
17,34.149124,34.149124,34.149124,0.0,0.0,-0.022390,-0.022390,0.016846,NaN,-1.0
18,32.789972,32.789972,32.789972,0.0,0.0,-0.039800,-0.039800,-0.039800,NaN,NaN
19,32.973101,32.973101,32.973101,0.0,0.0,0.005585,0.005585,0.005585,NaN,NaN
20,34.048479,34.048479,34.048479,0.0,1.0,0.032614,0.032614,0.032614,NaN,inf
21,33.424590,33.424590,33.424590,0.0,0.0,-0.018324,-0.018324,-0.018324,NaN,-1.0
22,39.092059,39.092059,39.092059,0.0,1.0,0.169560,0.169560,0.169560,NaN,inf
23,36.122576,36.122576,36.122576,0.0,1.0,-0.075961,-0.075961,-0.075961,NaN,0.0
24,36.122576,36.122576,36.122576,0.0,1.0,0.000000,0.000000,0.000000,NaN,0.0
25,36.122576,36.122576,36.122576,0.0,1.0,0.000000,0.000000,0.000000,NaN,0.0
26,37.763387,37.763387,37.763387,0.0,0.0,0.045423,0.045423,0.045423,NaN,-1.0
27,36.504856,36.504856,36.504856,0.0,0.0,-0.033327,-0.033327,-0.033327,NaN,NaN
28,42.277178,42.277178,42.277178,0.0,0.0,0.158125,0.158125,0.158125,NaN,NaN
29,42.230342,42.230342,42.230342,0.0,1.0,-0.001108,-0.001108,-0.001108,NaN,inf
30,42.230342,42.230342,42.230342,0.0,1.0,0.000000,0.000000,0.000000,NaN,0.0
31,43.716406,43.716406,43.716406,0.0,0.0,0.035189,0.035189,0.035189,NaN,-1.0
32,43.817139,43.817139,43.817139,0.0,1.0,0.002304,0.002304,0.002304,NaN,inf
33,43.465149,43.465149,43.465149,0.0,1.0,-0.008033,-0.008033,-0.008033,NaN,0.0
34,43.034055,43.034055,43.034055,0.0,1.0,-0.009918,-0.009918,-0.009918,NaN,0.0
35,42.349568,42.349568,42.349568,0.0,0.0,-0.015906,-0.015906,-0.015906,NaN,-1.0
36,42.848306,42.848306,42.848306,0.0,1.0,0.011777,0.011777,0.011777,NaN,inf
37,42.845523,42.845523,42.845523,0.0,0.0,-0.000065,-0.000065,-0.000065,NaN,-1.0
38,42.190491,42.190491,42.190491,0.0,1.0,-0.015288,-0.015288,-0.015288,NaN,inf
39,43.220148,43.220148,43.220148,0.0,1.0,0.024405,0.024405,0.024405,NaN,0.0
40,42.421514,42.421514,42.421514,0.0,1.0,-0.018478,-0.018478,-0.018478,NaN,0.0
41,42.421514,42.421514,42.421514,0.0,0.0,0.000000,0.000000,0.000000,NaN,-1.0
42,44.030693,44.030693,44.030693,0.0,1.0,0.037933,0.037933,0.037933,NaN,inf
43,44.030693,44.030693,44.030693,0.0,1.0,0.000000,0.000000,0.000000,NaN,0.0
44,44.559584,44.559584,44.559584,0.0,1.0,0.012012,0.012012,0.012012,NaN,0.0
45,44.559584,44.559584,44.559584,0.0,0.0,0.000000,0.000000,0.000000,NaN,-1.0
46,39.024529,39.024529,39.024529,0.0,1.0,-0.124217,-0.124217,-0.124217,NaN,inf
47,33.786438,33.786438,33.786438,0.0,1.0,-0.134226,-0.134226,-0.134226,NaN,0.0
48,32.629315,32.629315,32.629315,0.0,1.0,-0.034248,-0.034248,-0.034248,NaN,0.0
49,32.629315,32.629315,32.629315,0.0,1.0,0.000000,0.000000,0.000000,NaN,0.0

In [19]:
df1 = df[['Avg_humidity','AVERAGE_HUMUDITY_N_1','TARGET_N_1','target']]
a = df1.pct_change()
pd.concat([df1,a],axis=1).head(50)

,Avg_humidity,AVERAGE_HUMUDITY_N_1,TARGET_N_1,target,Avg_humidity,AVERAGE_HUMUDITY_N_1,TARGET_N_1,target
0,60.078646,60.078646,0.0,1.0,NaN,NaN,NaN,NaN
1,69.590937,69.590937,0.0,1.0,0.158331,0.158331,NaN,0.0
2,62.813750,62.813750,0.0,1.0,-0.097386,-0.097386,NaN,0.0
3,50.201458,50.201458,0.0,1.0,-0.200789,-0.200789,NaN,0.0
4,64.328646,64.328646,0.0,1.0,0.281410,0.281410,NaN,0.0
5,63.816250,63.816250,0.0,1.0,-0.007965,-0.007965,NaN,0.0
6,66.228958,66.228958,0.0,0.0,0.037807,0.037807,NaN,-1.0
7,76.825417,76.825417,0.0,1.0,0.159997,0.159997,NaN,inf
8,64.606250,64.606250,0.0,0.0,-0.159051,-0.159051,NaN,-1.0
9,61.156250,61.156250,0.0,1.0,-0.053400,-0.053400,NaN,inf
10,61.156250,61.156250,0.0,0.0,0.000000,0.000000,NaN,-1.0
11,75.698437,75.698437,0.0,1.0,0.237787,0.237787,NaN,inf
12,75.698437,75.698437,1.0,1.0,0.000000,0.000000,inf,0.0
13,75.698437,75.698437,1.0,1.0,0.000000,0.000000,0.0,0.0
14,75.698437,75.698437,1.0,1.0,0.000000,0.000000,0.0,0.0
15,75.698437,75.698437,0.0,1.0,0.000000,0.000000,-1.0,0.0
16,69.665417,69.665417,0.0,1.0,-0.079698,-0.079698,NaN,0.0
17,79.128542,79.128542,0.0,0.0,0.135837,0.135837,NaN,-1.0
18,82.921875,82.921875,0.0,0.0,0.047939,0.047939,NaN,NaN
19,79.729479,79.729479,0.0,0.0,-0.038499,-0.038499,NaN,NaN
20,80.524687,80.524687,0.0,1.0,0.009974,0.009974,NaN,inf
21,80.152187,80.152187,0.0,0.0,-0.004626,-0.004626,NaN,-1.0
22,73.786042,73.786042,0.0,1.0,-0.079426,-0.079426,NaN,inf
23,74.173438,74.173438,0.0,1.0,0.005250,0.005250,NaN,0.0
24,74.173438,74.173438,0.0,1.0,0.000000,0.000000,NaN,0.0
25,74.173438,74.173438,0.0,1.0,0.000000,0.000000,NaN,0.0
26,82.982604,82.982604,0.0,0.0,0.118764,0.118764,NaN,-1.0
27,83.755938,83.755938,0.0,0.0,0.009319,0.009319,NaN,NaN
28,86.451042,86.451042,0.0,0.0,0.032178,0.032178,NaN,NaN
29,87.122187,87.122187,0.0,1.0,0.007763,0.007763,NaN,inf
30,87.122187,87.122187,0.0,1.0,0.000000,0.000000,NaN,0.0
31,84.516875,84.516875,0.0,0.0,-0.029904,-0.029904,NaN,-1.0
32,83.608437,83.608437,0.0,1.0,-0.010749,-0.010749,NaN,inf
33,82.997917,82.997917,0.0,1.0,-0.007302,-0.007302,NaN,0.0
34,82.093750,82.093750,0.0,1.0,-0.010894,-0.010894,NaN,0.0
35,81.317396,81.317396,0.0,0.0,-0.009457,-0.009457,NaN,-1.0
36,81.416979,81.416979,0.0,1.0,0.001225,0.001225,NaN,inf
37,80.968542,80.968542,0.0,0.0,-0.005508,-0.005508,NaN,-1.0
38,78.854687,78.854687,0.0,1.0,-0.026107,-0.026107,NaN,inf
39,82.184792,82.184792,0.0,1.0,0.042231,0.042231,NaN,0.0
40,83.263958,83.263958,0.0,1.0,0.013131,0.013131,NaN,0.0
41,83.263958,83.263958,0.0,0.0,0.000000,0.000000,NaN,-1.0
42,82.171146,82.171146,0.0,1.0,-0.013125,-0.013125,NaN,inf
43,82.171146,82.171146,0.0,1.0,0.000000,0.000000,NaN,0.0
44,83.213229,83.213229,0.0,1.0,0.012682,0.012682,NaN,0.0
45,83.213229,83.213229,0.0,0.0,0.000000,0.000000,NaN,-1.0
46,88.554375,88.554375,0.0,1.0,0.064186,0.064186,NaN,inf
47,93.737083,93.737083,0.0,1.0,0.058526,0.058526,NaN,0.0
48,95.792917,95.792917,0.0,1.0,0.021932,0.021932,NaN,0.0
49,95.792917,95.792917,0.0,1.0,0.000000,0.000000,NaN,0.0

In [20]:
df1 = df[['Avg_TEMP','AVERAGE_TEMP_N_1','TARGET_N_1','target']]
a = df1.pct_change()
pd.concat([df1,a],axis=1).head(50)

,Avg_TEMP,AVERAGE_TEMP_N_1,TARGET_N_1,target,Avg_TEMP,AVERAGE_TEMP_N_1,TARGET_N_1,target
0,25.887917,25.887917,0.0,1.0,NaN,NaN,NaN,NaN
1,23.927083,23.927083,0.0,1.0,-0.075743,-0.075743,NaN,0.0
2,23.755521,23.755521,0.0,1.0,-0.007170,-0.007170,NaN,0.0
3,24.734896,24.734896,0.0,1.0,0.041227,0.041227,NaN,0.0
4,25.372917,25.372917,0.0,1.0,0.025794,0.025794,NaN,0.0
5,25.174583,25.174583,0.0,1.0,-0.007817,-0.007817,NaN,0.0
6,25.932083,25.932083,0.0,0.0,0.030090,0.030090,NaN,-1.0
7,27.889896,27.889896,0.0,1.0,0.075498,0.075498,NaN,inf
8,28.710729,28.710729,0.0,0.0,0.029431,0.029431,NaN,-1.0
9,30.336979,30.336979,0.0,1.0,0.056643,0.056643,NaN,inf
10,30.336979,30.336979,0.0,0.0,0.000000,0.000000,NaN,-1.0
11,29.158646,29.158646,0.0,1.0,-0.038841,-0.038841,NaN,inf
12,29.158646,29.158646,1.0,1.0,0.000000,0.000000,inf,0.0
13,29.158646,29.158646,1.0,1.0,0.000000,0.000000,0.0,0.0
14,29.158646,29.158646,1.0,1.0,0.000000,0.000000,0.0,0.0
15,29.158646,29.158646,0.0,1.0,0.000000,0.000000,-1.0,0.0
16,30.150000,30.150000,0.0,1.0,0.033999,0.033999,NaN,0.0
17,29.077083,29.077083,0.0,0.0,-0.035586,-0.035586,NaN,-1.0
18,28.198021,28.198021,0.0,0.0,-0.030232,-0.030232,NaN,NaN
19,28.398021,28.398021,0.0,0.0,0.007093,0.007093,NaN,NaN
20,28.707917,28.707917,0.0,1.0,0.010913,0.010913,NaN,inf
21,28.523854,28.523854,0.0,0.0,-0.006412,-0.006412,NaN,-1.0
22,31.093125,31.093125,0.0,1.0,0.090074,0.090074,NaN,inf
23,30.066979,30.066979,0.0,1.0,-0.033002,-0.033002,NaN,0.0
24,30.066979,30.066979,0.0,1.0,0.000000,0.000000,NaN,0.0
25,30.066979,30.066979,0.0,1.0,0.000000,0.000000,NaN,0.0
26,29.884375,29.884375,0.0,0.0,-0.006073,-0.006073,NaN,-1.0
27,29.410208,29.410208,0.0,0.0,-0.015867,-0.015867,NaN,NaN
28,30.784063,30.784063,0.0,0.0,0.046714,0.046714,NaN,NaN
29,30.706354,30.706354,0.0,1.0,-0.002524,-0.002524,NaN,inf
30,30.706354,30.706354,0.0,1.0,0.000000,0.000000,NaN,0.0
31,31.357396,31.357396,0.0,0.0,0.021202,0.021202,NaN,-1.0
32,31.479792,31.479792,0.0,1.0,0.003903,0.003903,NaN,inf
33,31.462708,31.462708,0.0,1.0,-0.000543,-0.000543,NaN,0.0
34,31.427396,31.427396,0.0,1.0,-0.001122,-0.001122,NaN,0.0
35,31.337500,31.337500,0.0,0.0,-0.002860,-0.002860,NaN,-1.0
36,31.468958,31.468958,0.0,1.0,0.004195,0.004195,NaN,inf
37,31.519271,31.519271,0.0,0.0,0.001599,0.001599,NaN,-1.0
38,31.591146,31.591146,0.0,1.0,0.002280,0.002280,NaN,inf
39,31.467604,31.467604,0.0,1.0,-0.003911,-0.003911,NaN,0.0
40,31.122708,31.122708,0.0,1.0,-0.010960,-0.010960,NaN,0.0
41,31.122708,31.122708,0.0,0.0,0.000000,0.000000,NaN,-1.0
42,31.693854,31.693854,0.0,1.0,0.018351,0.018351,NaN,inf
43,31.693854,31.693854,0.0,1.0,0.000000,0.000000,NaN,0.0
44,31.711979,31.711979,0.0,1.0,0.000572,0.000572,NaN,0.0
45,31.711979,31.711979,0.0,0.0,0.000000,0.000000,NaN,-1.0
46,29.681667,29.681667,0.0,1.0,-0.064024,-0.064024,NaN,inf
47,27.860833,27.860833,0.0,1.0,-0.061345,-0.061345,NaN,0.0
48,27.390833,27.390833,0.0,1.0,-0.016870,-0.016870,NaN,0.0
49,27.390833,27.390833,0.0,1.0,0.000000,0.000000,NaN,0.0

In [21]:
df1 = df[['Evening_Avg_Heat_Index','EVENING_AVG_TEMP_N_1','EVENING_AVG_TEMP_N_2','TARGET_N_1','target']]
a = df1.pct_change()
pd.concat([df1,a],axis=1).head(30)

,Evening_Avg_Heat_Index,EVENING_AVG_TEMP_N_1,EVENING_AVG_TEMP_N_2,TARGET_N_1,target,Evening_Avg_Heat_Index,EVENING_AVG_TEMP_N_1,EVENING_AVG_TEMP_N_2,TARGET_N_1,target
0,27.873791,26.834516,26.834516,0.0,1.0,NaN,NaN,NaN,NaN,NaN
1,25.922561,25.009032,25.009032,0.0,1.0,-0.070002,-0.068027,-0.068027,NaN,0.0
2,26.291401,25.344839,25.344839,0.0,1.0,0.014229,0.013427,0.013427,NaN,0.0
3,26.309882,25.615161,25.615161,0.0,1.0,0.000703,0.010666,0.010666,NaN,0.0
4,26.792381,25.911935,25.911935,0.0,1.0,0.018339,0.011586,0.011586,NaN,0.0
5,26.868280,26.086452,26.086452,0.0,1.0,0.002833,0.006735,0.006735,NaN,0.0
6,27.234939,26.378065,26.378065,0.0,0.0,0.013647,0.011179,0.011179,NaN,-1.0
7,33.409211,29.197097,29.197097,0.0,1.0,0.226704,0.106870,0.106870,NaN,inf
8,30.679703,28.889355,28.889355,0.0,0.0,-0.081699,-0.010540,-0.010540,NaN,-1.0
9,32.947427,30.095484,30.095484,0.0,1.0,0.073916,0.041750,0.041750,NaN,inf
10,32.947427,30.095484,30.095484,0.0,0.0,0.000000,0.000000,0.000000,NaN,-1.0
11,35.534715,30.160968,30.160968,0.0,1.0,0.078528,0.002176,0.002176,NaN,inf
12,35.534715,30.160968,30.160968,1.0,1.0,0.000000,0.000000,0.000000,inf,0.0
13,35.534715,30.160968,30.160968,1.0,1.0,0.000000,0.000000,0.000000,0.0,0.0
14,35.534715,30.160968,30.160968,1.0,1.0,0.000000,0.000000,0.000000,0.0,0.0
15,35.534715,30.160968,30.160968,0.0,1.0,0.000000,0.000000,0.000000,-1.0,0.0
16,37.649409,31.231290,30.160968,0.0,1.0,0.059511,0.035487,0.000000,NaN,0.0
17,35.507178,29.810645,29.810645,0.0,0.0,-0.056899,-0.045488,-0.011615,NaN,-1.0
18,34.771720,28.628387,28.628387,0.0,0.0,-0.020713,-0.039659,-0.039659,NaN,NaN
19,33.945719,28.768387,28.768387,0.0,0.0,-0.023755,0.004890,0.004890,NaN,NaN
20,34.406235,28.795806,28.795806,0.0,1.0,0.013566,0.000953,0.000953,NaN,inf
21,34.237922,28.818710,28.818710,0.0,0.0,-0.004892,0.000795,0.000795,NaN,-1.0
22,39.518149,31.128710,31.128710,0.0,1.0,0.154222,0.080156,0.080156,NaN,inf
23,35.710508,29.978065,29.978065,0.0,1.0,-0.096352,-0.036964,-0.036964,NaN,0.0
24,35.710508,29.978065,29.978065,0.0,1.0,0.000000,0.000000,0.000000,NaN,0.0
25,35.710508,29.978065,29.978065,0.0,1.0,0.000000,0.000000,0.000000,NaN,0.0
26,38.866627,30.252581,30.252581,0.0,0.0,0.088381,0.009157,0.009157,NaN,-1.0
27,37.379799,29.524839,29.524839,0.0,0.0,-0.038255,-0.024056,-0.024056,NaN,NaN
28,42.657568,30.797742,30.797742,0.0,0.0,0.141193,0.043113,0.043113,NaN,NaN
29,42.606330,30.568710,30.568710,0.0,1.0,-0.001201,-0.007437,-0.007437,NaN,inf